body {
    margin: 0;
}
.chart-container, .sheet-container__con {
    margin: 0 auto;
    box-sizing: border-box;
}
.chart-container--main {
    width: 100%; 
    padding: 0 20px;
    margin-top: 0;
}
.sheet-container__chart {
    width: 90%;
    float: left;
}
.sheet-container__legend {
    margin: auto 10px;
}
.sheet-container__con {
    display: flex;
    width: 49%;
    float: left;
    padding: 20px 10px;
    box-sizing: border-box;
}
#chartjs-tooltip{
    background: #000000c7;
    color: white;
    border-radius: 0 5px 5px 5px;
}
